.elementor-7 .elementor-element.elementor-element-16fbfb9:not(.elementor-motion-effects-element-type-background), .elementor-7 .elementor-element.elementor-element-16fbfb9>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../img/section-backgroundimg-1-blog.webp");
    background-position: center center;
    background-size: cover;
}

.elementor-7 .elementor-element.elementor-element-16fbfb9 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 103px 0px 123px 0px;
}

.elementor-7 .elementor-element.elementor-element-16fbfb9>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-7 .elementor-element.elementor-element-e63199e>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-7 .elementor-element.elementor-element-e63199e>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-7 .elementor-element.elementor-element-e63199e>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-7 .elementor-element.elementor-element-467e61c>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-7 .elementor-element.elementor-element-85c0ab0 {
    margin-top: -60px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
    z-index: 1;
}

.elementor-7 .elementor-element.elementor-element-4660abb>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-7 .elementor-element.elementor-element-4660abb>.elementor-element-populated {
    margin: 0px 0px 50px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-7 .elementor-element.elementor-element-4660abb>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-7 .elementor-element.elementor-element-5341f85 {
    margin-top: 0px;
    margin-bottom: 43px;
    padding: 0px 0px 0px 0px;
}

.elementor-7 .elementor-element.elementor-element-257e5d7>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-7 .elementor-element.elementor-element-257e5d7>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-7 .elementor-element.elementor-element-257e5d7>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-7 .elementor-element.elementor-element-4af096b {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 110px 0px;
}

.elementor-7 .elementor-element.elementor-element-f586d50.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-7 .elementor-element.elementor-element-f586d50>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-7 .elementor-element.elementor-element-f586d50>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-7 .elementor-element.elementor-element-f586d50>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-7 .elementor-element.elementor-element-6533cbb>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-7 .elementor-element.elementor-element-424df0d.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-7 .elementor-element.elementor-element-424df0d>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-7 .elementor-element.elementor-element-424df0d>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-7 .elementor-element.elementor-element-424df0d>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-7 .elementor-element.elementor-element-1eb1942>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-7 .elementor-element.elementor-element-c732a68.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-7 .elementor-element.elementor-element-c732a68>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-7 .elementor-element.elementor-element-c732a68>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-7 .elementor-element.elementor-element-c732a68>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-7 .elementor-element.elementor-element-82fb85b>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-7 .elementor-element.elementor-element-3939d4d.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-7 .elementor-element.elementor-element-3939d4d>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-7 .elementor-element.elementor-element-3939d4d>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-7 .elementor-element.elementor-element-3939d4d>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-7 .elementor-element.elementor-element-7b4af92>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-7 .elementor-element.elementor-element-c96963f:not(.elementor-motion-effects-element-type-background), .elementor-7 .elementor-element.elementor-element-c96963f>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("https://hatha.qodeinteractive.com/wp-content/uploads/2020/09/sdsda.webp");
    background-position: center center;
    background-size: cover;
}

.elementor-7 .elementor-element.elementor-element-c96963f {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
    z-index: 3;
}

.elementor-7 .elementor-element.elementor-element-c96963f>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-7 .elementor-element.elementor-element-bc4ae90>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-7 .elementor-element.elementor-element-bc4ae90>.elementor-element-populated {
    margin: 115px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-7 .elementor-element.elementor-element-bc4ae90>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-7 .elementor-element.elementor-element-19c457a>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-7 .elementor-element.elementor-element-19c457a {
    width: 585px;
    max-width: 585px;
}

.elementor-7 .elementor-element.elementor-element-a0d8400>.elementor-widget-container {
    margin: 42px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-7 .elementor-element.elementor-element-c1f058f>.elementor-widget-container {
    margin: 14px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-7 .elementor-element.elementor-element-ebcd0b1>.elementor-widget-container {
    margin: 14px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-7 .elementor-element.elementor-element-aaf3e70>.elementor-widget-container {
    margin: 14px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-7 .elementor-element.elementor-element-15d05aa>.elementor-widget-container {
    margin: 40px 0px 120px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-7 .elementor-element.elementor-element-e9c9e39>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-7 .elementor-element.elementor-element-e9c9e39>.elementor-element-populated {
    margin: 115px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-7 .elementor-element.elementor-element-e9c9e39>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-7 .elementor-element.elementor-element-9dde013 {
    text-align: right;
}

.elementor-7 .elementor-element.elementor-element-2f7865e {
    margin-top: 20px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
    z-index: 1;
}

.elementor-7 .elementor-element.elementor-element-2f9906b>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-7 .elementor-element.elementor-element-2f9906b>.elementor-element-populated {
    margin: 0px 0px 50px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-7 .elementor-element.elementor-element-2f9906b>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-7 .elementor-element.elementor-element-4baaeff {
    margin-top: 0px;
    margin-bottom: 68px;
    padding: 0px 0px 0px 0px;
}

.elementor-7 .elementor-element.elementor-element-83e7d8a>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-7 .elementor-element.elementor-element-83e7d8a>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-7 .elementor-element.elementor-element-83e7d8a>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-7 .elementor-element.elementor-element-623176b {
    margin-top: 0px;
    margin-bottom: 124px;
    padding: 0px 0px 0px 0px;
}

.elementor-7 .elementor-element.elementor-element-d7d41e5>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-7 .elementor-element.elementor-element-d7d41e5>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-7 .elementor-element.elementor-element-d7d41e5>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-7 .elementor-element.elementor-element-425b2aa>.elementor-container>.elementor-row>.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-7 .elementor-element.elementor-element-425b2aa {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0% 3.95% 0% 3.95%;
}

.elementor-7 .elementor-element.elementor-element-425b2aa>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-7 .elementor-element.elementor-element-fe99596.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-7 .elementor-element.elementor-element-fe99596>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-7 .elementor-element.elementor-element-fe99596>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-7 .elementor-element.elementor-element-fe99596>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0% 0% 0% 0%;
}

.elementor-7 .elementor-element.elementor-element-6eef608>.elementor-container>.elementor-row>.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-7 .elementor-element.elementor-element-6eef608 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-7 .elementor-element.elementor-element-6eef608>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-7 .elementor-element.elementor-element-b3ea46d.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-7 .elementor-element.elementor-element-b3ea46d>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-7 .elementor-element.elementor-element-b3ea46d>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-7 .elementor-element.elementor-element-b3ea46d>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-7 .elementor-element.elementor-element-35372c6>.elementor-widget-container {
    margin: 280px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-7 .elementor-element.elementor-element-35372c6 {
    width: 100%;
    max-width: 100%;
}

.elementor-7 .elementor-element.elementor-element-5c91cc6 {
    margin-top: 110px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
    z-index: 1;
}

.elementor-7 .elementor-element.elementor-element-515632d>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-7 .elementor-element.elementor-element-515632d>.elementor-element-populated {
    margin: 0px 0px 50px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-7 .elementor-element.elementor-element-515632d>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-7 .elementor-element.elementor-element-026d484 {
    margin-top: 0px;
    margin-bottom: 58px;
    padding: 0px 0px 0px 0px;
}

.elementor-7 .elementor-element.elementor-element-b41f034>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-7 .elementor-element.elementor-element-b41f034>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-7 .elementor-element.elementor-element-b41f034>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-7 .elementor-element.elementor-element-a831df8 {
    margin-top: 0px;
    margin-bottom: 73px;
    padding: 0% 4% 0% 4%;
}

.elementor-7 .elementor-element.elementor-element-09ec393>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-7 .elementor-element.elementor-element-09ec393>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-7 .elementor-element.elementor-element-09ec393>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-7 .elementor-element.elementor-element-127d023>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-7 .elementor-element.elementor-element-0f34403:not(.elementor-motion-effects-element-type-background), .elementor-7 .elementor-element.elementor-element-0f34403>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../img/section-backgroundimg-1-blog.webp");
    background-position: center center;
    background-size: cover;
}

.elementor-7 .elementor-element.elementor-element-0f34403 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: -2px;
    margin-bottom: 0px;
    padding: 0px 0px 150px 0px;
}

.elementor-7 .elementor-element.elementor-element-0f34403>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-7 .elementor-element.elementor-element-8f01279>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-7 .elementor-element.elementor-element-8f01279>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-7 .elementor-element.elementor-element-8f01279>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-7 .elementor-element.elementor-element-f0fa0b0 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-7 .elementor-element.elementor-element-42d0679>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-7 .elementor-element.elementor-element-42d0679>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-7 .elementor-element.elementor-element-42d0679>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-7 .elementor-element.elementor-element-90c5c25>.elementor-widget-container {
    margin: -60px 0px 47px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-7 .elementor-element.elementor-element-065fc31>.elementor-widget-container {
    margin: 0px 0px 60px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-7 .elementor-element.elementor-element-dcc3dcc {
    margin-top: -60px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
    z-index: 1;
}

.elementor-7 .elementor-element.elementor-element-3520e49>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-7 .elementor-element.elementor-element-3520e49>.elementor-element-populated {
    margin: 0px 0px 50px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-7 .elementor-element.elementor-element-3520e49>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-7 .elementor-element.elementor-element-7c71dba {
    margin-top: 0px;
    margin-bottom: 35px;
    padding: 0px 0px 0px 0px;
}

.elementor-7 .elementor-element.elementor-element-9345e11>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-7 .elementor-element.elementor-element-9345e11>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-7 .elementor-element.elementor-element-9345e11>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-7 .elementor-element.elementor-element-26b5323 {
    margin-top: 0px;
    margin-bottom: 116px;
    padding: 0px 0px 0px 0px;
}

.elementor-7 .elementor-element.elementor-element-a872a43>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-7 .elementor-element.elementor-element-a872a43>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-7 .elementor-element.elementor-element-a872a43>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-7 .elementor-element.elementor-element-0d633f3>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-7 .elementor-element.elementor-element-018468f:not(.elementor-motion-effects-element-type-background), .elementor-7 .elementor-element.elementor-element-018468f>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("https://hatha.qodeinteractive.com/wp-content/uploads/2020/08/main-home-background-img-2.webp");
    background-position: center center;
    background-size: cover;
}

.elementor-7 .elementor-element.elementor-element-018468f {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 215px 0px;
}

.elementor-7 .elementor-element.elementor-element-018468f>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-7 .elementor-element.elementor-element-e381c7b>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-7 .elementor-element.elementor-element-e381c7b>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-7 .elementor-element.elementor-element-e381c7b>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 62px 0px;
}

.elementor-7 .elementor-element.elementor-element-835ad52 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-7 .elementor-element.elementor-element-11489a7>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-7 .elementor-element.elementor-element-11489a7>.elementor-element-populated {
    margin: -58px 0px 45px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-7 .elementor-element.elementor-element-11489a7>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-7 .elementor-element.elementor-element-67bfe4a>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-7 .elementor-element.elementor-element-9cb870e {
    margin-top: -217px;
    margin-bottom: 0px;
    padding: 0% 3.95% 0% 3.95%;
    z-index: 1;
}

.elementor-7 .elementor-element.elementor-element-e006440>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-7 .elementor-element.elementor-element-e006440>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-7 .elementor-element.elementor-element-e006440>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-7 .elementor-element.elementor-element-42aa901 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-7 .elementor-element.elementor-element-389ae0f>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-7 .elementor-element.elementor-element-389ae0f>.elementor-element-populated {
    margin: 100px 0px 114px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-7 .elementor-element.elementor-element-389ae0f>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0% 7% 0% 0%;
}

.elementor-7 .elementor-element.elementor-element-33b526f>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-7 .elementor-element.elementor-element-db563e4>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-7 .elementor-element.elementor-element-db563e4>.elementor-element-populated {
    margin: 118px 0px 0px 26px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 26px;
}

.elementor-7 .elementor-element.elementor-element-db563e4>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-7 .elementor-element.elementor-element-e4afec3>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-7 .elementor-element.elementor-element-7164ee9 {
    margin-top: 0px;
    margin-bottom: 26px;
    padding: 0px 0px 0px 0px;
}

.elementor-7 .elementor-element.elementor-element-9d3ca21>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-7 .elementor-element.elementor-element-9d3ca21>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-7 .elementor-element.elementor-element-9d3ca21>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-7 .elementor-element.elementor-element-cc40864 {
    font-family: "Lato", Sans-serif;
}

.elementor-7 .elementor-element.elementor-element-cc40864>.elementor-widget-container {
    margin: 11px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-7 .elementor-element.elementor-element-821abda>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-7 .elementor-element.elementor-element-821abda>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-7 .elementor-element.elementor-element-821abda>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0% 0% 0% 8%;
}

.elementor-7 .elementor-element.elementor-element-51cd3c3 {
    font-family: "Lato", Sans-serif;
}

.elementor-7 .elementor-element.elementor-element-51cd3c3>.elementor-widget-container {
    padding: 11px 0px 0px 0px;
}

.elementor-7 .elementor-element.elementor-element-38b347d>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-7 .elementor-element.elementor-element-c76f295:not(.elementor-motion-effects-element-type-background), .elementor-7 .elementor-element.elementor-element-c76f295>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("https://hatha.qodeinteractive.com/wp-content/uploads/2020/08/insta-back-img-1.webp");
}

.elementor-7 .elementor-element.elementor-element-c76f295 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0%;
    margin-bottom: 0%;
    padding: 0px 0px 0px 0px;
}

.elementor-7 .elementor-element.elementor-element-c76f295>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-7 .elementor-element.elementor-element-bcab886.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-7 .elementor-element.elementor-element-bcab886>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-7 .elementor-element.elementor-element-bcab886>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-7 .elementor-element.elementor-element-bcab886>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-7 .elementor-element.elementor-element-33c73a9 {
    width: 92%;
    max-width: 92%;
}

@media(min-width:768px) {
    .elementor-7 .elementor-element.elementor-element-bc4ae90 {
        width: 52%;
    }

    .elementor-7 .elementor-element.elementor-element-e9c9e39 {
        width: 48%;
    }

    .elementor-7 .elementor-element.elementor-element-b3ea46d {
        width: 100%;
    }
}

@media(max-width:1024px) {
    .elementor-7 .elementor-element.elementor-element-16fbfb9 {
        margin-top: 71px;
        margin-bottom: 0px;
        padding: 0px 0px 120px 0px;
    }

    .elementor-7 .elementor-element.elementor-element-85c0ab0 {
        margin-top: -57px;
        margin-bottom: 0px;
    }

    .elementor-7 .elementor-element.elementor-element-0d4f12c>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-7 .elementor-element.elementor-element-4af096b {
        margin-top: 0px;
        margin-bottom: 115px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-7 .elementor-element.elementor-element-f586d50>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 0px;
    }

    .elementor-7 .elementor-element.elementor-element-f586d50>.elementor-element-populated {
        margin: 0px 0px 50px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-7 .elementor-element.elementor-element-f586d50>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0px 0px 0px 0px;
    }

    .elementor-7 .elementor-element.elementor-element-6533cbb>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }

    .elementor-7 .elementor-element.elementor-element-424df0d>.elementor-element-populated {
        margin: 0px 0px 50px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-7 .elementor-element.elementor-element-424df0d>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0px 0px 0px 0px;
    }

    .elementor-7 .elementor-element.elementor-element-1eb1942>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-7 .elementor-element.elementor-element-c732a68>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-7 .elementor-element.elementor-element-c732a68>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0px 0px 0px 0px;
    }

    .elementor-7 .elementor-element.elementor-element-e9c9e39>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 0px;
    }

    .elementor-7 .elementor-element.elementor-element-e9c9e39>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-7 .elementor-element.elementor-element-e9c9e39>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0px 0px 0px 0px;
    }

    .elementor-7 .elementor-element.elementor-element-9dde013 img {
        width: 100%;
    }

    .elementor-7 .elementor-element.elementor-element-2f7865e {
        margin-top: 120px;
        margin-bottom: 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-7 .elementor-element.elementor-element-623176b {
        margin-top: 0px;
        margin-bottom: 124px;
        padding: 0% 0% 0% 0%;
    }

    .elementor-7 .elementor-element.elementor-element-d7d41e5>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 0px;
    }

    .elementor-7 .elementor-element.elementor-element-d7d41e5>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-7 .elementor-element.elementor-element-d7d41e5>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0px 0px 0px 0px;
    }

    .elementor-7 .elementor-element.elementor-element-e6a0f7e>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0% 0% 0% 0%;
    }

    .elementor-7 .elementor-element.elementor-element-425b2aa {
        padding: 0% 0% 0% 0%;
    }

    .elementor-7 .elementor-element.elementor-element-6eef608 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-7 .elementor-element.elementor-element-a831df8 {
        margin-top: 0px;
        margin-bottom: 113px;
        padding: 0% 8% 0% 8%;
    }

    .elementor-7 .elementor-element.elementor-element-a872a43>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-7 .elementor-element.elementor-element-018468f {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px 0px 102px 0px;
    }

    .elementor-7 .elementor-element.elementor-element-835ad52 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-7 .elementor-element.elementor-element-11489a7>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 0px;
    }

    .elementor-7 .elementor-element.elementor-element-11489a7>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0px 0px 0px 0px;
    }

    .elementor-7 .elementor-element.elementor-element-67bfe4a>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0% 3% 0% 3%;
    }

    .elementor-7 .elementor-element.elementor-element-9cb870e {
        margin-top: -100px;
        margin-bottom: 0px;
        padding: 0% 07% 0% 07%;
    }

    .elementor-7 .elementor-element.elementor-element-389ae0f.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
        justify-content: center;
    }

    .elementor-7 .elementor-element.elementor-element-389ae0f>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 0px;
    }

    .elementor-7 .elementor-element.elementor-element-389ae0f>.elementor-element-populated {
        margin: 103px 0px 103px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-7 .elementor-element.elementor-element-389ae0f>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0px 0px 0px 0px;
    }

    .elementor-7 .elementor-element.elementor-element-db563e4>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 0px;
    }

    .elementor-7 .elementor-element.elementor-element-db563e4>.elementor-element-populated {
        margin: 0px 0px 125px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-7 .elementor-element.elementor-element-c76f295 {
        padding: 0% 4% 0% 4%;
    }
}

@media(max-width:767px) {
    .elementor-7 .elementor-element.elementor-element-16fbfb9 {
        margin-top: 70px;
        margin-bottom: 0px;
        padding: 0px 0px 120px 0px;
    }

    .elementor-7 .elementor-element.elementor-element-f586d50>.elementor-element-populated {
        margin: 0px 0px 50px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-7 .elementor-element.elementor-element-f586d50>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0px 0px 0px 0px;
    }

    .elementor-7 .elementor-element.elementor-element-424df0d>.elementor-element-populated {
        margin: 0px 0px 50px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-7 .elementor-element.elementor-element-424df0d>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0px 0px 0px 0px;
    }

    .elementor-7 .elementor-element.elementor-element-c732a68>.elementor-element-populated {
        margin: 0px 0px 50px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-7 .elementor-element.elementor-element-c732a68>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0px 0px 0px 0px;
    }

    .elementor-7 .elementor-element.elementor-element-3939d4d>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-7 .elementor-element.elementor-element-3939d4d>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0px 0px 0px 0px;
    }

    .elementor-7 .elementor-element.elementor-element-e6a0f7e>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0% 0% 0% 0%;
    }

    .elementor-7 .elementor-element.elementor-element-425b2aa {
        padding: 0% 0% 0% 0%;
    }

    .elementor-7 .elementor-element.elementor-element-71e8553>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-7 .elementor-element.elementor-element-67bfe4a>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0% 06% 0% 06%;
    }

    .elementor-7 .elementor-element.elementor-element-9cb870e {
        padding: 0px 0px 0px 0px;
    }

    .elementor-7 .elementor-element.elementor-element-e006440.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
        justify-content: center;
    }

    .elementor-7 .elementor-element.elementor-element-e006440>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0% 08% 0% 08%;
    }

    .elementor-7 .elementor-element.elementor-element-389ae0f>.elementor-element-populated {
        margin: 103px 0px 103px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-7 .elementor-element.elementor-element-389ae0f>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0px 0px 0px 0px;
    }

    .elementor-7 .elementor-element.elementor-element-9d3ca21>.elementor-element-populated {
        margin: 0px 0px 20px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-7 .elementor-element.elementor-element-9d3ca21>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0px 0px 0px 0px;
    }

    .elementor-7 .elementor-element.elementor-element-821abda>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-7 .elementor-element.elementor-element-821abda>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0px 0px 0px 0px;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-7 .elementor-element.elementor-element-f586d50 {
        width: 50%;
    }

    .elementor-7 .elementor-element.elementor-element-424df0d {
        width: 50%;
    }

    .elementor-7 .elementor-element.elementor-element-c732a68 {
        width: 50%;
    }

    .elementor-7 .elementor-element.elementor-element-3939d4d {
        width: 50%;
    }

    .elementor-7 .elementor-element.elementor-element-bc4ae90 {
        width: 100%;
    }

    .elementor-7 .elementor-element.elementor-element-e9c9e39 {
        width: 100%;
    }

    .elementor-7 .elementor-element.elementor-element-389ae0f {
        width: 100%;
    }

    .elementor-7 .elementor-element.elementor-element-db563e4 {
        width: 100%;
    }
}